<?xml version="1.0"?>
<model>
  <name>restricted_zone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>agbread</name>
    <email>jeoug1002@gmail.com</email>
  </author>

  <description>
    A simple restricted access zone (visual red transparent plate + collision box).
  </description>
</model>
