<?xml version='1.0'?>
<model>
  <name>Fortress scene</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Tristan Gybels</name>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>

  <description>
    Adapted from https://sketchfab.com/3d-models/cityscene-based-saint-guillhem-le-desert-9fedb55b76d140f7abc55484c2c87475
  </description>
</model>

