<?xml version="1.0"?>

<robot name="b2_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find b2_description)/xacro/gazebo_tf.xacro"/>
    <!-- <xacro:include filename="$(find b2_description)/xacro/gazebo.xacro"/> -->
    <xacro:include filename="$(find b2_description)/urdf/b2_description.urdf"/>
    
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
    <xacro:VLP-16 parent="vlp16_link" name="vlp16" tf_prefix="" topic="/velodyne_points" organize_cloud="false" hz="10" lasers="16" samples="1000" collision_range="0.3" min_range="0.9" max_range="30.0" noise="0.008" min_angle="-${M_PI}" max_angle="${M_PI}" gpu="true">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </xacro:VLP-16>
    <!-- Rotor related joint and link is only for demonstrate location. -->
    <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

</robot>
